@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.8rem;
    background-color: variables.$light-error;

    &__label {
        @include mixins.text-label-sm;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        line-height: 1.1rem;
        color: variables.$light-on-error;
    }
}