{% extends "layouts/base.html" %}

{% block page_title %}Posts{% endblock %}

{% block article %}
<article class="article">

    <header class="article__header">
        <div class="article__tab-list">
            {% include "../components/tab-list.html" with direction="row" %}
        </div>
        <div class="search-form">
            <input class="typography typography--label-lg search-form__input" placeholder="Search a post" type="text">
            <span class="material-icons-outlined search-form__icon">search</span>
        </div>
    </header>

    <ul class="card-list article__body">
        <li class="card-list__item">

            <article class="card">
                <h3 class="typography typography--title-lg card__title">Title of the card</h3>
                <p class="typography typography--body-md card__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis porro in magnam saepe consequatur distinctio quas illum, voluptas perferendis ipsam labore id, molestias, natus facere rerum? Ipsa soluta ad dolores.</p>
                <ul class="chip-list">
                    <li class="chip-list__item">
                        <a class="typography typography--label-lg chip" href="">Windows</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="typography typography--label-lg chip" href="">Android</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="typography typography--label-lg chip" href="">Linux</a>
                    </li>
                </ul>
            </article>
            <div class="separator"></div>

        </li>

        <li class="card-list__item">

            <article class="card">
                <h3 class="typography typography--title-lg card__title">Title of the card</h3>
                <p class="typography typography--body-md card__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis porro in magnam saepe consequatur distinctio quas illum, voluptas perferendis ipsam labore id, molestias, natus facere rerum? Ipsa soluta ad dolores.</p>
                <ul class="chip-list">
                    <li class="chip-list__item">
                        <a class="typography typography--label-lg chip" href="">Windows</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="typography typography--label-lg chip" href="">Android</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="typography typography--label-lg chip" href="">Linux</a>
                    </li>
                </ul>
            </article>

        </li>
    </ul>

</article>
{% endblock %}
