{% extends "layouts/base.html" %}

{% block page_title %}Posts{% endblock %}
{% block backdrop_title %}Latest posts{% endblock %}

{% block article %}

<!-- Article -->
<article class="article container">

    <h1 class="article__title">Latest posts</h1>

    <ul class="card-list">
        <li class="card-list__item">

            <article class="card">
                <h3 class="card__title">Title of the card</h3>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis porro in magnam saepe consequatur distinctio quas illum, voluptas perferendis ipsam labore id, molestias, natus facere rerum? Ipsa soluta ad dolores.</p>
                <ul class="chip-list">
                    <li class="chip-list__item">
                        <a class="chip" href="">Windows</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="chip" href="">Android</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="chip" href="">Linux</a>
                    </li>
                </ul>
            </article>

        </li>

        <li class="card-list__item">

            <article class="card">
                <h3 class="card__title">Title of the card</h3>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis porro in magnam saepe consequatur distinctio quas illum, voluptas perferendis ipsam labore id, molestias, natus facere rerum? Ipsa soluta ad dolores.</p>
                <ul class="chip-list">
                    <li class="chip-list__item">
                        <a class="chip" href="">Windows</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="chip" href="">Android</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="chip" href="">Linux</a>
                    </li>
                </ul>
            </article>

        </li>
    </ul>

</article>

{% endblock %}
