{% extends "layouts/base.html" %}

{% block page_title %}Posts{% endblock %}

{% block article %}
<article class="article">

    <header class="article__header">
        {% include '../components/search.html' %}
    </header>

    <div class="separator"></div>

    <div class="article__results">
        <h1 class="typography typography--title-lg article__results-title">Latest posts</h1>

        <div class="chip chip--filter">
            <input class="chip__input" type="radio" id="post-filter" value="post-filter" name="search-filter" checked>
            <label class="chip__button" for="post-filter">
                <span class="chip__label">Posts</span>
                <span class="material-icons chip__icon">done</span>
            </label>
            <ul class="menu chip__menu chip__menu--right">
                <li class="menu__item">
                    <a class="menu__link menu__link--active" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" class="menu__icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
                        </svg>
                        <span class="typography typography--body-lg menu__text">Most recent first</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" class="menu__icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
                        </svg>
                        <span class="typography typography--body-lg menu__text">Most oldest first</span>
                    </a>
                </li>
            </ul>
            <label class="chip__scrim" for="chip-checkbox"></label>
        </div>

        <div class="filter">
            <input class="filter__checkbox" id="filter-checkbox" name="filter-checkbox" type="checkbox">
            <label class="filter__button" for="filter-checkbox">
                <span class="material-icons filter__icon">sort</span>
                <span class="filter__label">Sort by</span>
            </label>
            
        </div>
    </div>

    <ul class="card-list article__body">
        <li class="card-list__item">

            <article class="card">
                <h3 class="card__title">Title of the card</h3>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis porro in magnam saepe consequatur distinctio quas illum, voluptas perferendis ipsam labore id, molestias, natus facere rerum? Ipsa soluta ad dolores.</p>
                <ul class="chip-list">
                    <li class="chip-list__item">
                        <a class="chip chip--assist" href="">Windows</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="chip chip--assist" href="">Android</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="chip chip--assist" href="">Linux</a>
                    </li>
                </ul>
            </article>

        </li>

        <li class="card-list__item">

            <article class="card">
                <h3 class="card__title">Title of the card</h3>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis porro in magnam saepe consequatur distinctio quas illum, voluptas perferendis ipsam labore id, molestias, natus facere rerum? Ipsa soluta ad dolores.</p>
                <ul class="chip-list">
                    <li class="chip-list__item">
                        <a class="chip chip--assist" href="">Windows</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="chip chip--assist" href="">Android</a>
                    </li>
                    <li class="chip-list__item">
                        <a class="chip chip--assist" href="">Linux</a>
                    </li>
                </ul>
            </article>

        </li>
    </ul>

</article>
{% endblock %}
