<!doctype html>

<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Afterlife is a blog focused on development and linux">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="{% block page_stylesheet %}{% endblock %}">
        {% filter truncatechars_html:55 %}
        <title>Afterlife - {% block page_title %}{% endblock %}</title>
        {% endfilter %}
    </head>

    <body class="page">

        <!-- Top app bar -->
        {% include "../../components/top-app-bar/_top-app-bar.html" %}

        <!-- Navigation rail-->
        {% include "../../components/navigation-rail/_navigation-rail.html" %}

        <!-- Container -->
        <div class="container page__container">
            <div class="container__inner">

                <main class="container__body">
                    {% block article %}{% endblock %}
                </main>

                {% include "../../components/footer/_footer.html" %}

            </div>
        </div>

        <!-- Floating action button -->
        {% include "../../components/fab/_fab.html" with fab_variant="extended" fab_icon="arrow_upward" fab_text="Scroll top" %}

        <!-- Navigation bar -->
        {% include "../../components/navigation-bar/_navigation-bar.html" %}

        <script defer src="{% block page_script %}{% endblock %}"></script>
    </body>

</html>