{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">

  <head>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    
    <title>Afterlife</title>
    <meta name="title" content="Afterlife" />
    <meta name="description" content="Afterlife is a blog focused on web development and Linux" />
  </head>

  <body>

  <div class="container">
    <nav>
      <a href="{% url 'posts:home' %}">Accueil</a>
    </nav>

    <section id="blog">
      {% block content %}
      {% endblock %}
    </section>
  </div>

  </body>

</html>
