@use '../global/sass/mixins';

.article {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;

    &__title {
        padding-bottom: 4.8rem;
    }

    &__tab-list {
        padding: 3.2rem 0;
    }
}