.main {
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @media screen and (min-width: 600px) {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    @media screen and (min-width: 985px) {
        padding-left: 0;
        padding-right: 0;
    }

    @media screen and (min-width: 1320px) {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}