<header class="w-full h-14 shadow-md md:h-16">
    <div class="container h-full w-full flex justify-between items-center">
        <h6 class="text-black text-headline6 font-medium text-opacity-high">Afterlife</h6>
        <nav>
            <ul class="flex space-x-4 md:space-x-8">
                <li>
                    {% include "../components/link.html" with text="blog" target="#" %}
                </li>
                <li>
                    {% include "../components/link.html" with text="notes" target="#" %}
                </li>
                <li>
                    {% include "../components/link.html" with text="github" target="#" %}
                </li>
            </ul>
        </nav>
    </div>
</header>