<section>
    <div class="container h-full flex items-center justify-center">
        <div class="text-center">
            <h1 class="text-black font-light text-headline1 text-opacity-high mb-2">Afterlife</h1>
            <p class="text-black font-normal text-subtitle1 text-opacity-high mb-8">Que puis-je vous apprendre aujourd'hui ?</p>
            <div class="flex items-center flex-col space-y-4 sm:space-y-0 sm:flex-row sm:items-start sm:justify-center sm:space-x-8 mb-4">
                {% include "../components/button.html" with text="voir mon blog" target="#" %}
                {% include "../components/button.html" with text="voir mes notes" target="#" %}
            </div>
        </div>
    </div>
</section>
