@use '../../utils/variables';
@use '../../utils/mixins';

.page {
    background-color: white;

    &__top-app-bar {
        position: fixed;
        z-index: 90;
        top: 0;
        left: 0;
    }

    &__container {
        margin-top: 6.4rem;

        @media screen and (min-width: 600px) {
            margin-left: 8rem;
        }
    }

    &__navigation-rail {
        @media screen and (min-width: 600px) {
            position: fixed;
            z-index: 80;
            top: 0;
            left: 0;
        }
    }

    &__navigation-bar {
        position: fixed;
        z-index: 80;
        bottom: 0;
        left: 0;
        transition-property: transform;
        transition-duration: 300ms;

        &--hidden {
            transform: translateY(8rem);
        }
    }

    &__fab {
        position: fixed;
        bottom: 9.6rem;
        right: 1.6rem;
        transition-property: visibility, opacity;
        transition-duration: 300ms;
        visibility: hidden;
        opacity: 0;

        @media screen and (min-width: 600px) {
            bottom: 1.6rem;
            right: 50%;
            transform: translateX(50%) translateX(4rem);
        }

        &--visible {
            visibility: visible;
            opacity: 1;
        }
    }
}