@use '../../global/sass/mixins';

.filter {
    position: relative;

    &__checkbox {
        display: none;

        &:checked ~ .filter__menu {
            visibility: visible;
            opacity: 1;
        }

        &:checked ~ .filter__scrim {
            display: block;
        }
    }
    
    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    &__icon {
        width: 2.4rem;
        height: 2.4rem;
        font-size: 2.4rem;
        margin-right: 0.8rem;
    }

    &__label {
        @include mixins.text-title-md;
        line-height: normal;
    }

    &__menu {
        position: absolute;
        z-index: 50;
        bottom: -0.8rem;
        transform: translateY(100%);
        visibility: hidden;
        opacity: 0;
        transition-property: visibility, opacity;
        transition-duration: 300ms;

        &--right {
            right: 0;
        }
    }

    &__scrim {
        display: none;
        position: fixed;
        z-index: 49;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
}