.button-group {
    display: flex;
    flex-direction: row;

    &__item {
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }

    &__item:first-child {
        margin-left: 0;
    }

    &__item:last-child {
        margin-right: 0;
    }

}