@use '../abstracts/variables';
@use '../abstracts/mixins';

.card {
    padding: 1.6rem;
    border-radius: 1.2rem;
    background-color: variables.$light-surface-variant;

    &__title {
        @include mixins.title-large;
        margin-bottom: 0.8rem;
    }

    &__description {
        @include mixins.body-medium;
        margin-bottom: 1.6rem;
    }
}