@use '../abstracts/variables';

.icon-list {
    display: flex;
    flex-direction: row;

    &--left-margin {
        margin-left: -1rem;
    }

    &--right-margin {
        margin-right: -1rem;
    }

    &__item {
        margin-left: 0.2rem;
        margin-right: 0.2rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
