@use '../abstracts/variables';

.icon-list {
    display: flex;
    flex-direction: row;

    &--left-margin {
        margin-left: -1rem;
    }

    &--right-margin {
        margin-right: -1rem;
    }
}

.icon-list-item {
    display: block;
    width: 4rem;
    height: 4rem;
    position: relative;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 300ms;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: #9333ea;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem;
        height: 2rem;
        color: white;
    }
}