@use '../abstracts/variables';

.navigation-rail {
    display: none;

    @media screen and (min-width: 599px) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        width: 8rem;
        height: 100vh;
        background-color: variables.$light-surface;
    }
}