@use '../abstracts/variables';
@use '../abstracts/mixins';

.navigation-list {
    display: flex;
    height: 100%;

    &--row {
        flex-direction: row;

        .navigation-list__item {
            flex: 1 1 0%;
            margin: 0 0.4rem;
            padding-top: 1.2rem;
            padding-bottom: 1.6rem;

            &:first-child {
                margin-left: 0;
            }
        
            &:last-child {
                margin-right: 0;
            }
        }

        .navigation-list__icon-container {
            width: 6.4rem;
            animation-name: bottomIconContainerSpread;
        }
    }

    &--column {
        flex-direction: column;
        justify-content: end;

        @media screen and (min-width: 1024px) {
            justify-content: start;
        }

        .navigation-list__item {
            flex: 0 0 5.6rem;
            margin: 0.6rem 0;
            padding-bottom: 0.4rem;

            &:first-child {
                margin-top: 0;
            }
        
            &:last-child {
                margin-bottom: 0;
            }
        }

        .navigation-list__icon-container {
            animation-name: leftIconContainerSpread;
            width: 5.4rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &--active {
            .navigation-list__icon-container {
                border-radius: 1.6rem;
                background-color: variables.$light-secondary-container;
            }

            .navigation-list__icon {
                color: variables.$light-secondary-on-container;
            }
            .navigation-list__label {
                color: variables.$light-on-surface;
            }
        }
    }

    &__icon-container {
        position: relative;
        height: 3.2rem;
        margin-bottom: 0.4rem;
        animation-duration: 300ms;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        width: 2.4rem;
        height: 2.4rem;
        color: variables.$light-on-surface-variant;
    }

    &__label {
        height: 1.6rem;
        @include mixins.label-medium;
        color: variables.$light-on-surface-variant;
    }
}

@keyframes leftIconContainerSpread {
    from {
        width: 2.4rem;
    }
    to {
        width: 5.4rem;
    }
}

@keyframes bottomIconContainerSpread {
    from {
        width: 2.4rem;
    }
    to {
        width: 6.4rem;
    }
}