.page {
    background-color: #fff;

    &__header {
        position: fixed;
        top: 0;
        left: 9.6rem;
        z-index: 90;
    }

    &__side-nav {
        display: none;

        @media screen and (min-width: 599px) {
            display: block;
            position: fixed;
            z-index: 80;
            top: 0;
            left: 0;
        }
    }

    &__bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 70;

        @media screen and (min-width: 599px) {
            display: none;
        }
    }

}