@use '../abstracts/variables';

.page {
    background-color: variables.$light-surface;
    height: 2000px;

    &__main {
        padding-top: 6.4rem;

        @media screen and (min-width: 599px) {
            padding-left: 8rem;
        }
    }

    &__phone-fab {
        display: block;
        bottom: 9.6rem;
        transition-property: transform, visibility, opacity;
        transition-duration: 300ms;
        visibility: hidden;
        opacity: 0;

        @media screen and (min-width: 599px) {
            display: none;
        }

        &--on-bottom {
            transform: translateY(8rem);
        }

        &--visible {
            visibility: visible;
            opacity: 1;
        }
    }

    &__desktop-fab {
        display: none;

        @media screen and (min-width: 599px) {
            display: block;
            transition-property: visibility, opacity;
            transition-duration: 300ms;
            visibility: hidden;
            opacity: 0;
        }

        &--visible {
            visibility: visible;
            opacity: 1;
        }
    }

    &__footer {

    }
}