.sidebar {
    width: 32rem;
    height: 100vh;
    background-color: white;
    padding-top: 8.6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 2.4rem;

    &__title {
        font-size: 2.0rem;
        font-weight: 500;
    }

    &__navigation {
        padding-top: 1.6rem;
    }
    
    &__margin {
        margin-left: -1.2rem;
        width: calc(100% + 2.4rem);
    }
}