.tab-list {
    display: flex;
    height: 100%;

    &--row {
        flex-direction: row;

        .tab-list__item {
            flex: 1 1 0%;
            margin: 0 0.4rem;
            padding-top: 1.2rem;
            padding-bottom: 1.6rem;

            &:first-child {
                margin-left: 0;
            }
        
            &:last-child {
                margin-right: 0;
            }
        }

        .tab-list__icon-container {
            width: 6.4rem;
            animation-name: bottomIconContainerSpread;
        }
    }

    &--column {
        flex-direction: column;
        justify-content: center;

        .tab-list__item {
            flex: 0 0 5.6rem;
            margin: 0.6rem 0;
            padding-bottom: 0.4rem;

            &:first-child {
                margin-top: 0;
            }
        
            &:last-child {
                margin-bottom: 0;
            }
        }

        .tab-list__icon-container {
            animation-name: leftIconContainerSpread;
            width: 5.4rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            background-color: #e9d5ff;
        }
    }

    &__icon-container {
        position: relative;
        height: 3.2rem;
        margin-bottom: 0.4rem;
        animation-duration: 300ms;

        &--active {
            border-radius: 1.6rem;
            background-color: #d8b4fe;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        width: 2.4rem;
        height: 2.4rem;
        color: #1f1f1f;
    }

    &__label {
        height: 1.6rem;
        color: #1f1f1f;
    }
}

@keyframes leftIconContainerSpread {
    from {
        width: 2.4rem;
    }
    to {
        width: 5.4rem;
    }
}

@keyframes bottomIconContainerSpread {
    from {
        width: 2.4rem;
    }
    to {
        width: 6.4rem;
    }
}