@use 'sass:map';
@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;

    &--elevated {
        padding-left: 1.6rem;
        padding-right: 2.4rem;
        border-radius: 2rem;
        background-color: variables.$light-surface;
        @include mixins.elevation-1;

        .button__icon {
            color: variables.$light-primary;
        }

        .button__label {
            color: variables.$light-primary;
        }
    }

    &--filled {
        padding-left: 1.6rem;
        padding-right: 2.4rem;
        border-radius: 2rem;
        background-color: variables.$light-primary;

        .button__icon {
            color: variables.$light-on-primary;
        }

        .button__label {
            color: variables.$light-on-primary;
        }
    }

    &--tonal {
        padding-left: 1.6rem;
        padding-right: 2.4rem;
        border-radius: 2rem;
        background-color: variables.$light-secondary-container;

        .button__icon {
            color: variables.$light-secondary-on-container;
        }

        .button__label {
            color: variables.$light-secondary-on-container;
        }
    }

    &--outlined {
        padding-left: 1.6rem;
        padding-right: 2.4rem;
        border-radius: 2rem;
        background-color: variables.$light-surface;
        border: 0.1rem solid map.get(variables.$palette-neutral-variant, "50");

        .button__icon {
            color: variables.$light-primary;
        }

        .button__label {
            color: variables.$light-primary;
        }
    }

    &--text {
        justify-content: center;
        min-width: 4.8rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;

        .button__icon {
            color: variables.$light-primary;
        }

        .button__label {
            color: variables.$light-primary;
        }

        .button__icon ~ .button__label {
            margin-right: 0.4rem;
        }
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.8rem;
        margin-right: 0.8rem;
    }
    
    &__label {
        @include mixins.text-label-lg;
        line-height: normal;
    }
}