@use '../../global/sass/variables';
@use '../../global/sass/mixins';

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    padding-left: 1.6rem;
    padding-right: 2.4rem;
    border-radius: 2rem;
    background-color: variables.$light-secondary-container;

    &:hover {
        @include mixins.elevation-1;
    }

    &--left-margin {
        margin-left: 0.8rem;
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.8rem;
        margin-right: 0.8rem;
        color: variables.$light-secondary-on-container;
    }
    
    &__label {
        line-height: normal;
        color: variables.$light-secondary-on-container;
    }
}