<section class="pt-16 pb-32">

    <h1 class="text-7xl md:text-9xl font-bold text-gray-800 text-center pb-4">Afterlife</h1>
    <p class="text-xl text-gray-500 font-normal text-center pb-16">A short description explaining the purpose of the website</p>
    <nav>
        <ul class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <li>
                {% include "../components/cta_card.html" with type="post" %}
            </li>
            <li>
                {% include "../components/cta_card.html" with type="story" %}
            </li>
            <li>
                {% include "../components/cta_card.html" with type="note" %}
            </li>
        </ul>
    </nav>

</section>