<section>
    <h1 class="text-7xl md:text-9xl font-bold text-gray-900 mb-4">Afterlife</h1>
    <p class="w-96 text-xl text-gray-500 font-normal mb-8">Hi, my name is Chaosdynamix and my goal with this personal website is to learn you something</p>
    <div class="space-y-4">

        <div class="flex flex-row bg-white shadow rounded">
            <div class="w-20 h-20 bg-yellow-500 rounded-l flex flex-shrink-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
            </div>
            <div class="flex flex-col justify-center flex-grow p-4">
                <h2 class="font-bold text-xl text-gray-800">Posts</h2>
                <p class="font-base text-sm text-gray-500">125 posts published</p>
            </div>
            <div class="w-20 h-20 flex flex-shrink-0 rounded-r">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-6 w-6 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
            </div>
        </div>

        <div class="flex flex-row bg-white shadow rounded">
            <div class="w-20 h-20 bg-blue-500 rounded-l flex flex-shrink-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                </svg>
            </div>
            <div class="flex flex-col justify-center flex-grow p-4">
                <h2 class="font-bold text-xl text-gray-800">Stories</h2>
                <p class="font-base text-sm text-gray-500">32 stories published</p>
            </div>
            <div class="w-20 h-20 flex flex-shrink-0 rounded-r">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-6 w-6 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
            </div>
        </div>

        <div class="flex flex-row bg-white shadow rounded">
            <div class="w-20 h-20 bg-green-500 rounded-l flex flex-shrink-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
                </svg>
            </div>
            <div class="flex flex-col justify-center flex-grow p-4">
                <h2 class="font-bold text-xl text-gray-800">Notes</h2>
                <p class="font-base text-sm text-gray-500">1204 notes published</p>
            </div>
            <div class="w-20 h-20 flex flex-shrink-0 rounded-r">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-6 w-6 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
            </div>
        </div>

    </div>
</section>