{% if type == "post" %}

<a class="block bg-white shadow rounded" href="{% url 'postsIndex' %}">
    
    <div class="w-full h-20 bg-yellow-500 rounded-t flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
        </svg>
    </div>

    <div class="p-4">
        <h2 class="font-bold text-xl text-gray-800 text-center pb-1">Posts</h2>
        <p class="font-base text-sm text-gray-500 text-center">125 posts published</p>
    </div>
</a>

{% elif type == "story" %}

<a class="block bg-white shadow rounded" href="{% url 'storiesIndex' %}">

    <div class="w-full h-20 bg-blue-500 rounded-t flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
        </svg>
    </div>

    <div class="p-4">
        <h2 class="font-bold text-xl text-gray-800 text-center pb-1">Stories</h2>
        <p class="font-base text-sm text-gray-500 text-center">32 stories published</p>
    </div>

</a>

{% elif type == "note" %}

<a class="block bg-white shadow rounded" href="{% url 'notesIndex' %}">

    <div class="w-full h-20 bg-green-500 rounded-t flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="m-auto h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
        </svg>
    </div>

    <div class="p-4">
        <h2 class="font-bold text-xl text-gray-800 text-center pb-1">Notes</h2>
        <p class="font-base text-sm text-gray-500 text-center">1240 notes published</p>
    </div>

</a>

{% endif %}