<section class="w-full pb-4">
    <label class="block w-full mb-2 text-sm font-medium mr-2 text-gray-500" for="sortingMethod-select">Sort the posts by</label>
    <select class="block w-full bg-gray-100 outline outline-2 outline-gray-300 focus:outline-purple-500 p-2 rounded text-sm" name="sortingMethods" id="sortingMethod-select">
        <option class="text-sm font-medium" value="descending">Created date (newest)</option>
        <option class="text-sm font-medium" value="ascending">Created date (oldest)</option>
    </select>
</section>