<header class="w-full h-14 md:h-16 bg-white shadow-md">
    <div class="container px-4 lg:px-8 h-full w-full flex justify-between items-center">
        <a href="{% url 'afterlifeIndex' %}" class="text-gray-900 font-light text-2xl tracking-tight">Afterlife</a>
        <nav class="h-full">
            <ul class="h-full flex space-x-4 md:space-x-8">
                <li class="h-full">
                    <a href="{% url 'postsIndex' %}" class="flex relative items-center h-full">
                        <span class="font-medium text-gray-800">Posts</span>
                        {% if active == "posts" %}
                        <div class="absolute bottom-0 left-0 h-1 w-full bg-gray-900"></div>
                        {% endif %}
                    </a>
                </li>
                <li class="h-full">
                    <a href="{% url 'storiesIndex' %}" class="flex relative items-center h-full">
                        <span class="font-medium text-gray-800">Stories</span>
                        {% if active == "stories" %}
                        <div class="absolute bottom-0 left-0 h-1 w-full bg-gray-900"></div>
                        {% endif %}
                    </a>
                </li>
                <li class="h-full">
                    <a href="{% url 'notesIndex' %}" class="flex relative items-center h-full">
                        <span class="font-medium text-gray-800">Notes</span>
                        {% if active == "notes" %}
                        <div class="absolute bottom-0 left-0 h-1 w-full bg-gray-900"></div>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>