<header class="w-full fixed top-0 left-0 h-14 shadow-md bg-white md:h-16">
    <div class="container h-full w-full flex justify-between items-center">
        <div class="flex items-center">
            <div class="h-7 w-7 rounded-full bg-gray-500 mr-4 md:h-8 md:w-8"></div>
            <h6 class="hidden text-xl sm:block">Afterlife</h6>
        </div>
        <nav>
            <ul class="flex space-x-4 md:space-x-6 uppercase text-sm tracking-wider font-medium text-gray-700">
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Notes</a>
                </li>
                <li>
                    <a href="#">GitHub</a>
                </li>
            </ul>
        </nav>
    </div>
</header>