<section class="w-full xl:w-1/2 pl-2 pr-4 pt-4 xl:pt-0">
    <div class="flex items-center justify-center">
        <div class="text-center">
            <h1 class="text-7xl md:text-9xl font-bold text-gray-900 mb-2">Afterlife</h1>
            <p class="text-xl text-gray-600 font-normal mb-8">Que puis-je vous apprendre aujourd'hui ?</p>
            <div class="flex items-center flex-col space-y-4 sm:space-y-0 sm:flex-row sm:items-start sm:justify-center sm:space-x-8 mb-4">
                <a href="{% url 'blogIndex' %}" class="rounded bg-white font-normal shadow px-8 py-2 hover:shadow-xl">Voir mon blog</a>
                <a href="{% url 'notebookIndex' %}" class="rounded bg-white font-normal shadow px-8 py-2 hover:shadow-xl">Voir mes notes</a>
            </div>
        </div>
    </div>
</section>
