<div class="search">

    <h2 class="search__title">Search</h2>

    <div class="search__form">
        <input class="search__input" placeholder="Search" type="text">
        <span class="material-icons-outlined search__icon">search</span>
    </div>

    <div class="search__filter">

        <ul class="chip-list">
            <li class="chip-list__item">

                <div class="chip chip--filter">
                    <input class="chip__input" type="radio" id="post-filter" value="post-filter" name="search-filter" checked>
                    <label class="chip__button" for="post-filter">
                        <span class="material-icons chip__icon">done</span>
                        <span class="chip__label">Posts</span>
                    </label>
                </div>

            </li>
            <li class="chip-list__item">

                <div class="chip chip--filter">
                    <input class="chip__input" type="radio" id="tag-filter" value="tag-filter" name="search-filter">
                    <label class="chip__button" for="tag-filter">
                        <span class="material-icons chip__icon">done</span>
                        <span class="chip__label">Topics</span>
                    </label>
                </div>

            </li>
        </ul>

    </div>

</div>