<section class="w-full">
    <h6 class="w-full mb-2 text-sm font-medium mr-2 text-gray-500">Popular tags</h6>
    <div class=" flex flex-row flex-wrap">
        <a class="rounded bg-blue-200 py-1 px-2 text-xs font-medium text-gray-700 mr-2 mb-2" href="#">Linux</a>
        <a class="rounded bg-green-200 py-1 px-2 text-xs font-medium text-gray-700 mr-2 mb-2" href="#">Windows</a>
        <a class="rounded bg-yellow-200 py-1 px-2 text-xs font-medium text-gray-700 mr-2 mb-2" href="#">MacOS</a>
        <a class="rounded bg-blue-200 py-1 px-2 text-xs font-medium text-gray-700 mr-2 mb-2" href="#">Linux</a>
        <a class="rounded bg-green-200 py-1 px-2 text-xs font-medium text-gray-700 mr-2 mb-2" href="#">Windows</a>
        <a class="rounded bg-yellow-200 py-1 px-2 text-xs font-medium text-gray-700 mr-2 mb-2" href="#">MacOS</a>
        <a class="rounded bg-blue-200 py-1 px-2 text-xs font-medium text-gray-700 mr-2 mb-2" href="#">Linux</a>
        <a class="rounded bg-green-200 py-1 px-2 text-xs font-medium text-gray-700 mr-2 mb-2" href="#">Windows</a>
        <a class="rounded bg-yellow-200 py-1 px-2 text-xs font-medium text-gray-700 mr-2 mb-2" href="#">MacOS</a>
    </div>
    <a class="text-purple-500 font-medium text-sm" href="{% url 'postsTags' %}">Show all the tags</a>
</section>