<section class="mt-8 xl:mt-0 w-full xl:w-1/2 xl:pl-4">

    <h3 class="pl-16 font-light text-xl text-center text-gray-900">Flux d'actualité</h3>

    <ul class="space-y-4 z-20">
        <li class="flex relative">
            <div class="relative z-20 h-14 w-14 p-2 mr-2 bg-gray-100 flex-shrink-0 rounded-full">
                <div class="h-10 w-10 p-2 bg-white rounded-full shadow">
                    <div class="h-6 w-6 bg-gray-500 rounded-full"></div>
                </div>
            </div>
            {% include "../components/card.html" with datePosition="outside" %}
            <div class="absolute z-10 top-7 left-7 h-full w-1 -ml-0.5 bg-gray-300"></div>
        </li>
        <li class="flex relative">
            <div class="relative z-20 h-14 w-14 p-2 mr-2 bg-gray-100 flex-shrink-0 rounded-full">
                <div class="h-10 w-10 p-2 bg-white rounded-full shadow">
                    <div class="h-6 w-6 bg-gray-500 rounded-full"></div>
                </div>
            </div>
            {% include "../components/card.html" with datePosition="outside" %}
            <div class="absolute z-10 top-7 left-7 h-full w-1 -ml-0.5 bg-gray-300"></div>
        </li>
        <li class="flex relative">
            <div class="relative z-20 h-14 w-14 p-2 mr-2 bg-gray-100 flex-shrink-0 rounded-full">
                <div class="h-10 w-10 p-2 bg-white rounded-full shadow">
                    <div class="h-6 w-6 bg-gray-500 rounded-full"></div>
                </div>
            </div>
            {% include "../components/card.html" with datePosition="outside" %}
        </li>
    </ul>

    <div class="pl-16">
        <button class="w-full text-sm py-2 mt-4 bg-gray-200 rounded">Afficher plus d'activités</button>
    </div>

</section>