{% load static %}

<!doctype html>

<html lang="fr" dir="ltr">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Afterlife is a blog focused on development and linux">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        {% filter truncatechars_html:55 %}
        <title>Afterlife - {% block page_name %}{% endblock %}</title>
        {% endfilter %}
    </head>

    <body class="flex flex-col justify-between bg-background-darkNight min-h-screen">
        {% include "../partials/header.html" %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include "../partials/footer.html" %}
    </body>

</html>