{% load static %}

<!doctype html>

<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Afterlife is a blog focused on development and linux">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        {% filter truncatechars_html:55 %}
        <title>Afterlife - {% block page_title %}{% endblock %}</title>
        {% endfilter %}
    </head>

    <body class="page">

        <!-- Top app bar -->
        <header class="top-app-bar">
            <div class="top-app-bar__section">
                <a class="top-app-bar__title" href="{% url 'afterlifeIndex' %}">Afterlife</a>
            </div>
            <div class="top-app-bar__section">
                <button class="button">
                    <span class="button__icon material-icons-outlined">dark_mode</span>
                    <span class="button__label">Dark mode</span>
                </button>
                <a class="button button--left-margin" href="https://github.com/ChaosDynamix/Afterlife">
                    <span class="button__icon material-icons-outlined">code</span>
                    <span class="button__label">Source code</span>
                </a>
            </div>
        </header>

        <!-- Navigation rail-->
        <aside class="navigation-rail">
            {% include "../components/navigation-list.html" with direction="column" %}
        </aside>

        <!-- Navigation bar -->
        <aside class="navigation-bar">
            {% include "../components/navigation-list.html" with direction="row" %}
        </aside>

        <!-- Navigation reference -->
        <div class="navigation-reference"></div>

        <!-- Main -->
        <main class="main page__main">
            {% block article %}{% endblock %}
        </main>

        <!-- Footer -->
        <footer class="footer page__footer">
            <p class="footer__text">&copy; 2021 - Afterlife</p>
        </footer>

        <button class="fab fab--hidden">
            <span class="fab__icon material-icons-outlined">arrow_upward</span>
        </button>

        <script defer src="{% static 'bundle.js' %}"></script>
    </body>

</html>