{% load static %}

<!doctype html>

<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Afterlife is a blog focused on development and linux">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        {% filter truncatechars_html:55 %}
        <title>Afterlife - {% block page_title %}{% endblock %}</title>
        {% endfilter %}
    </head>

    <body class="page">

        <!-- Top app bar -->
        {% include "../components/top-app-bar.html" %}

        <!-- Navigation rail-->
        {% include "../components/navigation-rail.html" %}

        <!-- Container -->
        <div class="container page__container">
            <div class="container__inner">

                <main class="container__body">
                    {% block article %}{% endblock %}
                </main>

                <footer class="container__footer">
                    <p class="typography typography--body-md">&copy; 2021 - Afterlife</p>
                </footer>

            </div>
        </div>

        <!-- Floating action button -->
        {% include "../components/fab.html" with fab_type="extended" %}

        <!-- Navigation bar -->
        {% include "../components/navigation-bar.html" %}

        <script defer src="{% static 'bundle.js' %}"></script>
    </body>

</html>