@use '../../utils/variables';
@use '../../utils/mixins';

.chip-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
        margin-right: 0.8rem;

        &:last-child {
            margin-right: 0;
        }
    }
}