@use 'sass:map';
@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.chip {
    height: 3.2rem;

    &--assist {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        background-color: variables.$light-surface;
        border: 0.1rem solid map.get(variables.$palette-neutral-variant, "50");
        border-radius: 0.8rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &--filter {

        .chip__button .chip__icon {
            display: none;
        }
    }

    &__input {
        display: none;

        &:checked ~ .chip__button {
            background-color: variables.$light-secondary-container;
            border: none;
        }

        &:checked ~ .chip__button .chip__icon {
            display: block;
            margin-left: -0.8rem;
        }
    }

    &__button {
        width: 100%;
        height: 100%;
        display: flex;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        flex-direction: row;
        align-items: center;
        background-color: variables.$light-surface;
        border: 0.1rem solid map.get(variables.$palette-neutral-variant, "50");
        border-radius: 0.8rem;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &__icon {
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.8rem;
        margin-right: 0.8rem;
    }

    &__label {
        @include mixins.text-label-lg;
        display: block;
        line-height: normal;
    }
}