@use 'sass:map';
@use '../../global/sass/variables';
@use '../../global/sass/mixins';

.chip {
    height: 3.2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    @include mixins.label-large;
    line-height: 3.2rem;
    border-radius: 0.8rem;
    background-color: variables.$light-surface;
    outline: map.get(variables.$palette-neutral-variant, "50") solid 0.1rem;
}