@use '../../global/sass/variables';
@use '../../global/sass/mixins';

.navigation-rail {
    display: none;

    @media screen and (min-width: 599px) {
        display: flex;
        align-items: center;
        width: 8rem;
        height: 100vh;
        background-color: variables.$light-surface;
    }
}
