@use '../../global/sass/variables';
@use '../../global/sass/mixins';

.navigation-list {
    width: 100%;

    &--row {
        display: flex;
        flex-direction: row;
        height: 8rem;

        .navigation-list__item {
            flex: 1 1 4.8rem;
            justify-content: center;
            min-width: 4.8rem;
            height: 100%;
            margin-right: 0.8rem;
        
            &:last-child {
                margin-right: 0;
            }
        }

        .navigation-list__icon-container {
            width: 6.4rem;
            animation-name: navigationBarAnimation;
        }
    }

    &--col {
        display: block;
        height: auto;

        .navigation-list__item {
            width: 100%;
            height: 5.6rem;
            margin-bottom: 1.2rem;
        
            &:last-child {
                margin-bottom: 0;
            }
        }

        .navigation-list__icon-container {
            width: 5.6rem;
            animation-name: navigationRailAnimation;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0.4rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &--active {
            .navigation-list__icon-container {
                border-radius: 1.6rem;
                background-color: variables.$light-secondary-container;
            }
    
            .navigation-list__icon {
                color: variables.$light-secondary-on-container;
            }
            .navigation-list__label {
                color: variables.$light-on-surface;
            }
        }
    }

    &__icon-container {
        position: relative;
        width: 6.4rem;
        height: 3.2rem;
        margin-bottom: 0.4rem;
        animation-duration: 300ms;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        width: 2.4rem;
        height: 2.4rem;
        color: variables.$light-on-surface-variant;
    }

    &__badge {
        position: absolute;
        top: 0;
        left: 50%;
    }

    &__label {
        @include mixins.text-label-md;
        height: 1.6rem;
        color: variables.$light-on-surface-variant;
    }
}

@keyframes navigationRailAnimation {
    from {
        width: 2.4rem;
    }
    to {
        width: 5.6rem;
    }
}

@keyframes navigationBarAnimation {
    from {
        width: 2.4rem;
    }
    to {
        width: 6.4rem;
    }
}