@use '../../global/sass/variables';
@use '../../global/sass/mixins';

.card {
    padding: 1.6rem;
    background-color: variables.$light-surface-variant;
    border-radius: 1.6rem;

    &__title {
        @include mixins.text-title-lg;
        margin-bottom: 0.8rem;
    }

    &__description {
        @include mixins.text-body-md;
        margin-bottom: 1.6rem;
    }
}